body {
  height: 100vh;
  background-image: url("https://img.freepik.com/foto-gratis/paisaje-soleado-carretera_1112-139.jpg?w=1380&t=st=1701620324~exp=1701620924~hmac=749472d209387c476bccc7f5fcdb0e5eb3dc2fad70d0129e8a6a576555f6fa1d");
  background-size: cover;
}
