.palito {
  background-color: rgb(61, 61, 61);
  width: 10px;
  height: 150px;
}

.cuerpo {
  background-color: rgb(61, 61, 61);
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 1rem;
  padding: 20px 0px;
}

.rojo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;

}

.amarillo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;

}

.verde {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: greenyellow;
  cursor: pointer;

}

.azul {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;

}

.ligth-red {
  box-shadow: 0px 0px 15px 15px rgba(255, 0, 0, 0.5);
}

.ligth-yellow {
  box-shadow: 0px 0px 15px 15px rgba(251, 255, 0, 0.5);
}

.ligth-green {
  box-shadow: 0px 0px 15px 15px rgba(0, 255, 8, 0.5);
}

.ligth-blue {
  box-shadow: 0px 0px 15px 15px rgba(4, 0, 255, 0.5);
}